*{
    cursor: pointer;
}
body{
    background-color: rgb(27, 27, 25);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    background-image: url("../lib2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}


#title{
    color: black;
    background-image: linear-gradient(to right,white,rgb(255, 246, 125),white) ;
    font-family: Monaco ;
    text-align:center;
    margin: 40px;
    border: 1px;
    border-style: solid;
    border-color:  black;
    
    padding: 6px;
}

 .footer{
    background-color: rgb(38, 38, 41);
    margin-top: 270px;
    color: rgba(236, 231, 231, 0.925);
    text-align: center;    
}
.outer-footer{
    background-color: rgb(3, 2, 2);
    padding: 10px;   
}
.my a{
    border: 1px solid;
    padding: 4px;
    margin: 5px;
}
   
